@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-overlay: rgba(0,0,0,0.5);
}

html, body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-950 font-sans antialiased;
}
.text-shadow {
  text-shadow: 0 1px 2px rgba(0,0,0,0.7);
}
.text-shadow-md {
  text-shadow: 0 2px 6px rgba(0,0,0,0.65);
}
.text-shadow-lg {
  text-shadow: 0 4px 12px rgba(0,0,0,0.7);
}
